Package: com.zy.wechat
Name: wechat_t
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: liangzhiyuan
Author: liangzhiyuan
Section: Tweaks
Version: 0.0.1-4
Installed-Size: 128
